/*------------------------------------------------*/
/* GAME CONTROLS */

#game-controls {

    position:absolute;

    top:18px;
    left:22px;
    right:22px;
    bottom:53px;

    z-index:30;

    pointer-events:none;
}


/*------------------------------------------------*/
/* TOUCH CONTROLS */

.touch-controls {

    display:none;

    position:absolute;

    top:0;
    left:0;
    right:0;
    bottom:0;
}


/*------------------------------------------------*/
/* TOUCH CONTROL GROUPS */

.touch-controls .top-controls,
.touch-controls .bottom-controls {

    position:absolute;

    left:0;
    right:0;
}

.touch-controls .top-controls {

    bottom:200px;
}

.touch-controls .bottom-controls {

    bottom:100px;
}


/*------------------------------------------------*/
/* GAME UI CONTROLS */
/* Musik / Pause / Home */

.game-ui-controls {

    display:none;

    position:absolute;

    left:0;
    right:0;
    bottom:-60px;

    height:60px;
}

#game-controls.game-active .game-ui-controls {
    display:block;
}

/*------------------------------------------------*/
/* BUTTONS */

#game-controls button {

    position:absolute;

    width:60px;
    height:60px;

    border:none;
    border-radius:50%;

    background:rgba(255,255,255,.25);

    cursor:pointer;

    pointer-events:auto;

    user-select:none;

    touch-action:manipulation;

    overflow:hidden;

    padding:0;
}


/*------------------------------------------------*/
/* BUTTON IMAGES */

#game-controls button img {

    width:32px;
    height:32px;

    object-fit:contain;

    display:block;

    margin:auto;

    pointer-events:none;
}


/*------------------------------------------------*/
/* TOUCH BUTTONS */

/* Werfen */

#btn-throw {

    left:20px;
}


/* Springen */

#btn-jump {

    right:20px;
}


/* Links */

#btn-left {

    left:20px;
}


/* Rechts */

#btn-right {

    right:20px;
}


/*------------------------------------------------*/
/* MOBILE MUSIC */

#music-btn-mobile {

    left:50%;

    transform:translateX(-105px);

    width:60px;
    height:60px;

    background:transparent;

    border:none;

    padding:0;

    cursor:pointer;
}

#music-btn-mobile.muted::after {

    content:"";

    position:absolute;

    top:50%;
    left:8%;

    width:84%;
    height:4px;

    background:#d61c1c;

    border-radius:10px;

    transform:translateY(-50%) rotate(-45deg);

    pointer-events:none;

    z-index:5;
}


/*------------------------------------------------*/
/* PAUSE */

#pause-btn {

    left:50%;

    transform:translateX(-30px);
}


/*------------------------------------------------*/
/* HOME */

#home-btn {

    left:50%;

    transform:translateX(45px);
}