*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    min-height:100dvh;

    display:flex;
    justify-content:center;
    align-items:center;

    overflow:hidden;

    background:url("img/5_background/first_half_background.png") center/cover no-repeat;
}

body::before{

    content:"";

    position:fixed;
    inset:0;

    background:radial-gradient(
        circle,
        transparent 40%,
        rgba(0,0,0,.55)
    );

    z-index:-1;
}

/*------------------------------------------------*/
/* GAME CONTAINER */

.game-container{

    position:relative;

    width:720px;
    height:480px;

    animation:floatGame 4s ease-in-out infinite;
}

/*------------------------------------------------*/
/* CANVAS */

.canvas-area{

    position:absolute;

    top:18px;
    left:22px;
    right:22px;
    bottom:53px;

    overflow:hidden;

    border-radius:12px;

    z-index:1;
}

canvas{

    width:100%;
    height:100%;

    display:block;
    filter: brightness(1.01);

}

/*------------------------------------------------*/
/* HOLZRAHMEN */

.frame{

    position:absolute;

    inset:0;

    width:100%;
    height:100%;

    object-fit:contain;

    pointer-events:none;

    z-index:5;
}

/*------------------------------------------------*/
/* MENÜ */

#menu{

    position:absolute;

    inset:0;

    display:flex;
    flex-direction:column;

    justify-content:space-between;

    /*padding:22px 30px 25px;*/

    z-index:20;
}

/*------------------------------------------------*/
/* HEADER */

.menu-header{

    display:flex;

    justify-content:flex-end;
    align-items:flex-start;
}




.menu-navigation {
display: flex;
justify-content: space-between;


}


.music-button{

    position:relative;

    width:clamp(50px,8vw,60px);

    cursor:pointer;
}

.music-button img{

    width:100%;

    display:block;

    transition:.25s;
}

.music-button:hover img{

    transform:scale(1.08);

    filter:drop-shadow(0 0 12px rgba(255,255,255,.75));
}

.music-button.muted::after{

    content:"";

    position:absolute;

    top:50%;
    left:8%;

    width:84%;
    height:4px;

    background:#d61c1c;

    border-radius:10px;

    transform:translateY(-50%) rotate(-45deg);

    pointer-events:none;

    z-index:5;
}

/*------------------------------------------------*/
/* MITTE */

.menu-center{

    display:flex;

    justify-content:center;
    align-items:center;

    margin-top:auto;

    margin-bottom:-21px;
}

#start-btn{

    width:clamp(180px,36%,260px);
}


/* Buttons */

#manual-btn,
#controls-btn,
#about-btn,
#imprint-btn{

    width:clamp(140px,22vw,150px);

    flex:0 1 auto;
}
/*------------------------------------------------*/
/* BUTTONS */

.menu-icon{

    cursor:pointer;

    user-select:none;

    transition:.25s;
}

.menu-icon:hover{

    transform:scale(1.08);

    filter:drop-shadow(
        0 0 12px rgba(255,255,255,.75)
    );
}

/*------------------------------------------------*/
/* OVERLAY */

#overlay{

    position:fixed;

    inset:0;

    display:none;

    justify-content:center;
    align-items:center;

    background:rgba(255, 255, 255, 0.65);

    z-index:100;
}

.overlay-wrapper{

    position:relative;

    display:inline-block;
}

.overlay-content{

    width:min(92vw,720px);

    display:flex;
    justify-content:center;
    align-items:center;
}

.overlay-image{

    width:95%;
    height:auto;

    display:block;

    margin:auto;
}

#close-btn{
    

    position:absolute;

    top:2%;
    right:2%;

    width:clamp(34px,5vw,50px);
    height:clamp(34px,5vw,50px);

    border:none;


    cursor:pointer;

    z-index:1000;
}
/*------------------------------------------------*/
/* SCHWEBE ANIMATION */

@keyframes floatGame{

    0%,
    100%{

        transform:translateY(0);
    }

    50%{

        transform:translateY(-8px);
    }
}

/*------------------------------------------------*/
/* GERÄT DREHEN */

#rotate-device{

    display:none;

    position:fixed;

    inset:0;

    background:rgba(0,0,0,.95);

    color:white;

    justify-content:center;
    align-items:center;

    flex-direction:column;

    text-align:center;

    z-index:9999;
}

#rotate-device h2{

    font-size:2rem;

    margin-bottom:15px;
}

#rotate-device p{

    font-size:1.2rem;
}

/*------------------------------------------------*/
/* RESPONSIVE */

/*------------------------------------------------*/
/* RESPONSIVE */

@media (max-width:1025px){


    /* Canvas bleibt im Rahmen */
    .canvas-area{

        top:2.5%;
        left:3%;
        right:3%;
        bottom:11%;
    }

    /* Innenabstand vom Menü */
    #menu{

       /* padding:3% 4% 3%;*/
    }

    /* Lautsprecher */

    .music-button{

        width:clamp(42px,7vw,60px);
    }

    /* Startbutton */

    #start-btn{

        width:clamp(180px,34vw,260px);
    }

    /* Footer */

    .menu-footer{

        width:88%;

        margin:0 auto;

        display:flex;
        flex-direction:column;

        gap:12px;
    }

    .footer-row{

        display:flex;

        justify-content:space-between;
        align-items:center;

        gap:18px;
    }

    /* Buttons */

    #manual-btn,
    #controls-btn,
    #about-btn,
    #imprint-btn{

        width:clamp(100px,21vw,110px);

        flex-shrink:0;
    }
}

/*------------------------------------------------*/
/* SEHR KLEINE DISPLAYS */

@media (max-width:700px){

    #menu{

       /* padding:2.5% 3% 2%;*/
    }

    .music-button{

        width:clamp(38px,7vw,60px);
    }

    #start-btn{

        width:clamp(150px,38vw,220px);
    }

    .menu-footer{

        width:92%;

        gap:8px;
    }

    .footer-row{

        gap:10px;
    }

    #manual-btn,
    #controls-btn,
    #about-btn,
    #imprint-btn{

        width:clamp(105px,22vw,130px);
    }
}

/*------------------------------------------------*/
/* PORTRAIT */

@media (max-width:1025px) and (orientation:portrait){

    .game-container{

        display:none;
    }

    #rotate-device{

        display:flex;
    }
}

/*------------------------------------------------*/
/* LANDSCAPE */

@media (max-width:1025px) and (orientation:landscape){

    .game-container{

        display:block;
    }

    #rotate-device{

        display:none;
    }
}

/*IPHONE SE */





/*IMPRINT OVERLAY*/

.imprint-container{

    position:relative;

    width:100%;
    height:100%;
}

.overlay-image{

    width:100%;
    height:auto;

    display:block;
}

.overlay-imprint{

    width:92%;
    height:92%;

    overflow:hidden;

    display:flex;
    justify-content:center;
    align-items:center;
}

.imprint-text{

    position:absolute;

    top:22%;
    left:12%;
    right:12%;
    bottom:10%;

    overflow-y:auto;

    color:#4d2c17;

    text-align:center;

    line-height:1.6;
}

.imprint-text h3{

    margin:18px 0 8px;

    font-size:clamp(18px,2vw,28px);
}

.imprint-text p{

    margin-bottom:18px;

    font-size:clamp(14px,1.3vw,20px);
}